body {
    background-color: turquoise;
}

.container {
    text-align: center;
    position: relative;
    top: 200px;
}

.white-keys kbd {
    display: inline-block;
    background-color: white;
    height: 200px;
    width: 60px;
    border: 2px grey solid;
    position: relative;
    z-index: 0;
    margin-left: -5px;
    line-height: 300px;
    font-size: 20px;
}

.black-keys kbd {
    display: inline-block;
    background-color: black;
    height: 100px;
    width: 30px;
    border: 2px grey solid;
    position: relative;
    top: -204px;
    z-index: 1;
    line-height: 150px;
    font-size: 14px;
    color: white;
}

.black-keys  kbd + kbd {
    margin-left: 24px;
}

#E_key + #T_key {
    margin-left: 88px;
}